<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1> {{pageTitle}}</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>

    <p>WELCOME TO MY WEBSITE</p>
    {{> footer}}
</body>
</html>